{% extends 'base.html' %}

{% block title %} Contacts{% endblock title %} 

{% block body %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/b.jpg" class="d-block w-100" alt="..." height= 500>
      </div>
    
      <div class="carousel-item">
        <img src="/static/e.jpg" class="d-block w-100" alt="..." height=500>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class='container-fluid my-5'>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Dr. Ahsan Naeem</td>
        <td>Advisor</td>
        <td>Nil</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mr. Shujat</td>
        <td>Teacher</td>
        <td>Nil</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Syed Faraz Abbas</td>
        <td>Student</td>
        <td>+923314998330</td>
       
      </tr>
    </tbody>
  </table>
{% endblock body %}

