{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class='container my-4'>
<p class="h4 text-center">The following is updated ghant chart.</p>
<div class='container my-4'>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/R.png" class="d-block w-100" alt="...">
      </div>
     
    </div>
  </div>
<p class="h4 text-center">The following is costing </p>
<hr> </hr>
<hr> </hr>
<div class='container my-4'>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/t.png" class="d-block w-100" alt="...">
          </div>
         
        </div>
      </div>
{% endblock body %}