{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %} 
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/ll.jpg" class="d-block w-100" alt="..." height= 600>
      </div>
      <div class="carousel-item">
        <img src="/static/kk.jpg" class="d-block w-100" alt="..." height= 600>>
      </div>
      <div class="carousel-item">
        <img src="/static/ii.jpg" class="d-block w-100" alt="..." height= 600>>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class='container my-4'>
    <p>1. The aim of this website is to provide relevant knowledge regarding Tiva launchpad<p>
      <hr> </hr>
    <p>2. I would be developing Experiments as well as their lab manuals<p>
      <hr> </hr>
    <p>3. This website has been made to make sure that all information is available at same spot<p>
      <hr> </hr>
    </div>
    
    <div class='container-fluid my-4 px-0'>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/t.jpg" class="d-block w-100" alt="..." height= 600>
          </div>
          <div class="carousel-item">
            <img src="/static/y.jpg" class="d-block w-100" alt="..." height= 600>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class='container- my-4 px-0'>
        <p>An embedded system is a microprocessor-based computer hardware system with software that is designed to perform a dedicated function, either as an independent system or as a part of a large system. At the core is an integrated circuit designed to carry out computation for real-time operations.<p>
    </div>
    <div class='container- my-4 px-0'>
        <hr> </hr>
        <p> Digital cameras.
            Digital wristwatches.
            MP3 players.
            Appliances, such as refrigerators, washing machines, and microwave ovens.
            Temperature measurement systems.
            Calculators are examples of Embedded system<p>
{% endblock body %}