{% extends 'base.html' %}

{% block title %} Lcd+Keypad{% endblock title %}

{% block body %}
<div class='container my-4'>
  <p class="h4 text-center">"Interfacing LCD and KEYPAD with Tiva Launchpad"</p>
  <div class='container my-4'>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/n.jpg" class="d-block w-100" alt="...">
        </div>
       
      </div>
    </div>
    <hr>
    <h2>Objective</h2>
    <br>
    <ul> <b>1.</b> Objective is to show number and alphabet on screen.</ul>
    <h1>Components required are given below:</h1>
    <ul><b>1.</b> Tiva Launchpad</ul>
    <ul><b>2.</b> Connecting wires</ul>
    <ul><b>3.</b> LCD 16*2</ul>
    <ul><b>4.</b> KEYPAD</ul>
    <ul><b>5.</b> Potentiometre</ul>
    <ul><b>6.</b> Resistor 1k </ul>

    <hr>
    
    <h2>Download Code</h2>
    <a href='/static/lcdcode.txt'> <b>Click</b>  for Code</a>

    <hr>
  <h2>Download Schematic Diagram and Lab manuals</h2>
  
<a href='/static/lcdschematic.drawio'><b>Click</b> for Schemtic Diagram</a>
<div>
  <hr>
  <a href='/static/lab.docx'><b>Click</b> for lab manual</a>
</div>
<hr>

{% endblock body %}